.idea
Gml.iml
doc/src/gml-scala-example.aux
doc/src/gml-scala-example.css
doc/src/gml-scala-example.haux
doc/src/gml-scala-example.html
doc/src/gml-scala-example.htoc
doc/src/gml-scala-example.lof
doc/src/gml-scala-example.log
doc/src/gml-scala-example.pdf
doc/src/gml-scala-example.toc
doc/src/index.html
doc/src/contents_motif.gif
doc/src/previous_motif.gif
doc/src/next_motif.gif
doc/src/compiling.html
doc/src/gml.html
doc/src/intro.html
doc/src/rendering.html
doc/src/vm.html
doc/src/exercises.html
doc/html
doc/pdf
out
*.ppm
diff
.*.swp
